.banner {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
   url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80);  
  background-size: cover;
  background-position: center;
  padding:150px 0;

}
.banner h1 {
    color: white;
    font-size: 50px;
  }
  .banner h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
      opacity: 0.8;
  }
  @media (max-width: 720px){
    .banner{
        padding:50px 0;
    }
    .banner h1 {
        font-size:30px
    }
    .banner h2 {
        font-size:20px
    }
}
