.btn {
    background-color: #FFDB58;
    padding: 15px 20px;
    border-radius: 4px;
    color: #333333;
    font-weight: bold;
    font-family: 'Roboto' , sans-serif;
}
.btn:hover{
    color:#000;
}